In [98]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import mutual_info_score

# Data Preparation

In [99]:
df = pd.read_csv('Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [100]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [101]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [102]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [103]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [104]:
tc =  pd.to_numeric(df.totalcharges, errors = 'coerce')

In [105]:
df[tc.isnull()][['customerid', 'totalcharges']]

      customerid totalcharges
488   4472-lvygi            _
753   3115-czmzd            _
936   5709-lvoeq            _
1082  4367-nuyao            _
1340  1371-dwpaz            _
3331  7644-omvmy            _
3826  3213-vvolg            _
4380  2520-sgtta            _
5218  2923-arzlg            _
6670  4075-wkniu            _
6754  2775-sefee            _

In [106]:
df.totalcharges =  pd.to_numeric(df.totalcharges, errors = 'coerce')

In [107]:
df.totalcharges = df.totalcharges.fillna(df.totalcharges.median())

In [108]:
df.churn.head()

0     no
1     no
2    yes
3     no
4    yes
Name: churn, dtype: object

In [109]:
df.churn = (df.churn == 'yes').astype(int)

In [110]:
df.churn

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: churn, Length: 7043, dtype: int32

# Setting up the validation framework

In [111]:
df_full_train, df_test = train_test_split(df, test_size = 0.2, random_state = 42)

In [112]:
df_train, df_val = train_test_split(df_full_train, test_size = 0.25, random_state = 42)

In [113]:
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [114]:
df_full_train = df_full_train.reset_index(drop=True)
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [115]:
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

In [116]:
del df_train['churn']
del df_val['churn']
del df_test['churn']

# EDA

In [117]:
df_full_train

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,4223-bkeor,female,0,no,yes,21,yes,no,dsl,yes,...,yes,no,no,yes,one_year,no,mailed_check,64.85,1336.800,0
1,6035-riiom,female,0,no,no,54,yes,yes,fiber_optic,no,...,no,no,yes,yes,two_year,yes,bank_transfer_(automatic),97.20,5129.450,0
2,3797-vtidr,male,0,yes,no,1,no,no_phone_service,dsl,no,...,no,no,no,no,month-to-month,yes,electronic_check,23.45,23.450,1
3,2568-brgyx,male,0,no,no,4,yes,no,fiber_optic,no,...,no,no,no,no,month-to-month,yes,electronic_check,70.20,237.950,1
4,2775-sefee,male,0,no,yes,0,yes,yes,dsl,yes,...,no,yes,no,no,two_year,yes,bank_transfer_(automatic),61.90,1397.475,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,0684-aosih,male,0,yes,no,1,yes,no,fiber_optic,yes,...,no,no,yes,yes,month-to-month,yes,electronic_check,95.00,95.000,1
5630,5982-psmkw,female,0,yes,yes,23,yes,yes,dsl,yes,...,yes,yes,yes,yes,two_year,yes,credit_card_(automatic),91.10,2198.300,0
5631,8044-bgwpi,male,0,yes,yes,12,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,month-to-month,yes,electronic_check,21.15,306.050,0
5632,7450-nwrtr,male,1,no,no,12,yes,yes,fiber_optic,no,...,yes,no,yes,yes,month-to-month,yes,electronic_check,99.45,1200.150,1
5633,4795-uxvcj,male,0,no,no,26,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,one_year,no,credit_card_(automatic),19.80,457.300,0

In [118]:
df_full_train.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [119]:
global_churn_rate = df_full_train.churn.mean()
round(global_churn_rate, 2)

0.27

In [120]:
df_full_train.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int32
dtype: object

In [121]:
numerical = ['tenure', 'monthlycharges', 'totalcharges']

In [122]:
df_full_train.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [123]:
categorical = ['gender', 'seniorcitizen', 'partner', 'dependents',
    'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod']

In [124]:
df_full_train[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

# Feature Importance

## Churn rate

In [125]:
df_full_train.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,4223-bkeor,female,0,no,yes,21,yes,no,dsl,yes,...,yes,no,no,yes,one_year,no,mailed_check,64.85,1336.800,0
1,6035-riiom,female,0,no,no,54,yes,yes,fiber_optic,no,...,no,no,yes,yes,two_year,yes,bank_transfer_(automatic),97.20,5129.450,0
2,3797-vtidr,male,0,yes,no,1,no,no_phone_service,dsl,no,...,no,no,no,no,month-to-month,yes,electronic_check,23.45,23.450,1
3,2568-brgyx,male,0,no,no,4,yes,no,fiber_optic,no,...,no,no,no,no,month-to-month,yes,electronic_check,70.20,237.950,1
4,2775-sefee,male,0,no,yes,0,yes,yes,dsl,yes,...,no,yes,no,no,two_year,yes,bank_transfer_(automatic),61.90,1397.475,0

In [126]:
churn_female = df_full_train[df_full_train.gender == 'female'].churn.mean()
churn_female

0.2708409173643975

In [127]:
global_churn_rate - churn_female

-0.005310210939122428

In [128]:
churn_male = df_full_train[df_full_train.gender == 'male'].churn.mean()
churn_male

0.26047800484932454

In [129]:
global_churn_rate - churn_male

0.005052701575950558

In [130]:
global_churn_rate = df_full_train.churn.mean()
global_churn_rate

0.2655307064252751

In [131]:
df_full_train.partner.value_counts()

partner
no     2904
yes    2730
Name: count, dtype: int64

In [132]:
churn_partner = df_full_train[df_full_train.partner == 'yes'].churn.mean()
churn_partner

0.20073260073260074

In [133]:
global_churn_rate - churn_partner

0.06479810569267436

In [134]:
churn_no_partner = df_full_train[df_full_train.partner == 'no'].churn.mean()
churn_no_partner

0.32644628099173556

In [135]:
global_churn_rate - churn_no_partner

-0.06091557456646046

1. global - group
   
if <0 --> more likely to churn

if >0 --> less likely to churn

## Risk ratio

2. Risk = group / global

if >1 --> more likely to churn

if <1 --> less likely to churn

In [136]:
churn_no_partner / global_churn_rate

1.2294106598311754

In [137]:
churn_partner / global_churn_rate

0.7559675618499149

In [138]:
from IPython.display import display

In [139]:
for c in categorical:
    print(c)
    df_group = df_full_train.groupby(c).churn.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean'] - global_churn_rate
    df_group['risk'] = df_group['mean'] / global_churn_rate
    display(df_group)

gender

            mean  count      diff      risk
gender
female  0.270841   2747  0.005310  1.019998
male    0.260478   2887 -0.005053  0.980971

seniorcitizen

                   mean  count      diff      risk
seniorcitizen
0              0.237098   4728 -0.028433  0.892922
1              0.413907    906  0.148377  1.558793

partner

             mean  count      diff      risk
partner
no       0.326446   2904  0.060916  1.229411
yes      0.200733   2730 -0.064798  0.755968

dependents

                mean  count      diff      risk
dependents
no          0.312326   3951  0.046795  1.176233
yes         0.155674   1683 -0.109856  0.586276

phoneservice

                  mean  count      diff      risk
phoneservice
no            0.253623    552 -0.011908  0.955156
yes           0.266824   5082  0.001293  1.004871

multiplelines

                      mean  count      diff      risk
multiplelines
no                0.251397   2685 -0.014134  0.946771
no_phone_service  0.253623    552 -0.011908  0.955156
yes               0.284105   2397  0.018574  1.069952

internetservice

                     mean  count      diff      risk
internetservice
dsl              0.191851   1939 -0.073679  0.722521
fiber_optic      0.415558   2481  0.150028  1.565010
no               0.076606   1214 -0.188924  0.288502

onlinesecurity

                         mean  count      diff      risk
onlinesecurity
no                   0.416014   2810  0.150484  1.566727
no_internet_service  0.076606   1214 -0.188924  0.288502
yes                  0.145342   1610 -0.120189  0.547363

onlinebackup

                         mean  count      diff      risk
onlinebackup
no                   0.398693   2448  0.133162  1.501494
no_internet_service  0.076606   1214 -0.188924  0.288502
yes                  0.216531   1972 -0.048999  0.815467

deviceprotection

                         mean  count      diff      risk
deviceprotection
no                   0.387706   2489  0.122175  1.460117
no_internet_service  0.076606   1214 -0.188924  0.288502
yes                  0.226825   1931 -0.038705  0.854234

techsupport

                         mean  count      diff      risk
techsupport
no                   0.413472   2791  0.147941  1.557153
no_internet_service  0.076606   1214 -0.188924  0.288502
yes                  0.152855   1629 -0.112676  0.575657

streamingtv

                         mean  count      diff      risk
streamingtv
no                   0.335418   2239  0.069887  1.263197
no_internet_service  0.076606   1214 -0.188924  0.288502
yes                  0.298945   2181  0.033415  1.125841

streamingmovies

                         mean  count      diff      risk
streamingmovies
no                   0.333333   2223  0.067803  1.255348
no_internet_service  0.076606   1214 -0.188924  0.288502
yes                  0.301320   2197  0.035789  1.134784

contract

                    mean  count      diff      risk
contract
month-to-month  0.426533   3083  0.161002  1.606340
one_year        0.117987   1212 -0.147544  0.444343
two_year        0.028379   1339 -0.237151  0.106878

paperlessbilling

                     mean  count      diff      risk
paperlessbilling
no                0.16414   2309 -0.101390  0.618159
yes               0.33594   3325  0.070409  1.265164

paymentmethod

                               mean  count      diff      risk
paymentmethod
bank_transfer_(automatic)  0.174475   1238 -0.091056  0.657080
credit_card_(automatic)    0.152404   1227 -0.113126  0.573961
electronic_check           0.449921   1887  0.184390  1.694420
mailed_check               0.190328   1282 -0.075203  0.716782

## Mutual Information

In [142]:
mutual_info_score(df_full_train.churn, df_full_train.contract)

0.0966515250997

In [143]:
mutual_info_score(df_full_train.gender, df_full_train.churn)

6.877785208564413e-05

In [144]:
mutual_info_score(df_full_train.partner, df_full_train.churn)

0.010227084558171867

In [145]:
def mutual_info_churn_score(series):
    return mutual_info_score(series, df_full_train.churn)

In [151]:
mi = df_full_train[categorical].apply(mutual_info_churn_score)
mi.sort_values(ascending = False)

contract            0.096652
onlinesecurity      0.063393
techsupport         0.060935
internetservice     0.053313
onlinebackup        0.045424
paymentmethod       0.042861
deviceprotection    0.042007
streamingtv         0.030844
streamingmovies     0.030705
paperlessbilling    0.019077
dependents          0.014129
partner             0.010227
seniorcitizen       0.010059
multiplelines       0.000654
gender              0.000069
phoneservice        0.000040
dtype: float64

## Correlation

In [152]:
df_full_train[numerical].corrwith(df_full_train.churn)

tenure           -0.344925
monthlycharges    0.188574
totalcharges     -0.194178
dtype: float64

## One-hot Encoding